:root {
  --mainPurple: #6a2e88;
  --secondaryPurple: #a45ac6;
  --white: #e9e5e7;
  --black: #1d0e27;
}
html,
body {
  min-height: 100vh;
  padding: 0 0.5rem;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--mainPurple);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
